@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --facebook: #2f55a4;
    --twitter: #4f6fb6;
    --instagram: red;
    --youtube: red;
    --white: #fff;
    --green: #1EB589;
    --red: #DC414C;
    --dark-text: #1D2029;
    --light-box: #f0f0f0;
    --active-light-box: #e0e0e0;
}

body {
    background-color: #1D2029;
    transition: 300ms all;
}

body.light {
    background-color: #fff;
}

body.light .logo-text h1,
body.light .logo-text h4,
body.light .overview-text,
body.light .account-item h4 span,
body.light .account-item h1,
body.light .account-item h2,
body.light .overview-item h3 span,
body.light .overviewitem-numbers,
body.light .mode-control {
    color: var(--dark-text);
}

body.light .account-item,
body.light .overview-item {
    background-color: var(--light-box);
}

body.light .account-item:hover,
body.light .overview-item:hover {
    background-color: var(--active-light-box);
}

body.light .header-bg {
    background-color: #e0e0e0;
    transition: all .3s ease;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
}

.overview {
    padding-top: 100px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-text h1 {
    color: var(--white);
    font-weight: 500;
    font-size: 30px;
}

.logo-text h4 {
    color: var(--white);
    font-weight: 400;
    font-size: 18px;
    opacity: .5;
}

.dark-mode {
    color: var(--white);
    opacity: .5;
    font-size: 14px;
}

#mode-btn[type="checkbox"] {
    display: none;
}

.check {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    border-radius: 10px;
    margin-left: 5px;
    background: linear-gradient(to right, rgb(42, 68, 183), rgb(7, 41, 229));
    cursor: pointer;
    transition: all .3s ease;
}

#mode-btn[type="checkbox"]:checked~.check {
    background: linear-gradient(to right, rgb(36, 142, 234), rgb(7, 41, 229));
}

.check:before {
    content: "";
    position: absolute;
    left: 3px;
    top: 3px;
    width: 10px;
    height: 10px;
    padding: 4px;
    background-color: var(--white);
    border-radius: 50%;
    transition: all .4s ease;
}

#mode-btn[type="checkbox"]:checked~.check:before {
    transform: translateX(24px);
    transition: all .4s ease;
}

.mode-control {
    position: relative;
    display: flex;
    align-items: center;
}


.mode-control span:nth-of-type(2) {
    display: none;
}

.mode-control input:checked+span {
    display: none;
}

.mode-control input:checked+span+span {
    display: inline-block;
}

/*  */
.accounts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 30px;
    margin-top: 30px;
}

.account-item {
    background-color: #262d40;
    text-align: center;
    padding: 30px 50px;
    border-radius: 8px;
}

.account-item:hover {
    background-color: #363f58;
    animation: account-item-anime .3s linear forwards;
}

.account-item:nth-of-type(1) {
    border-top: 5px solid var(--facebook);
}

.account-item:nth-of-type(2) {
    border-top: 5px solid var(--twitter);
}

.account-item:nth-of-type(3) {
    border-top: 5px solid var(--instagram);
}

.account-item:nth-of-type(4) {
    border-top: 5px solid var(--youtube);
}

@keyframes account-item-anime {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
        transform: translateY(-10px);
    }
}

/* Name */
.account-item h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
}

.account-item h4 span {
    color: var(--white);
    opacity: .5;
    font-size: 14px;
    padding-left: 10px;
}

.account-item h4 img {
    width: 25px;
    height: 25px;
}

/* Followers Count */
.account-item h1 {
    color: var(--white);
    font-size: 65px;
}

/* Followers , Subscribes */
.account-item h2 {
    color: var(--white);
    opacity: 80%;
    letter-spacing: 4px;
    font-weight: 300;
    position: relative;
    bottom: 15px;
}

/* Today count */
.account-item h3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.green {
    color: var(--green);
}

.red {
    color: var(--red);
}

.account-item i.fab {
    font-size: 20px;
    margin-right: 10px;
}

i.fab.fa-facebook {
    color: var(--facebook);
}

i.fab.fa-twitter {
    color: var(--twitter);
}

i.fab.fa-instagram {
    color: var(--instagram);
}

i.fab.fa-youtube {
    color: var(--youtube);
}


/*  */
.overview-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 30px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.overview-item {
    background-color: #262d40;
    padding: 30px 20px;
    border-radius: 5px;
}

.overview-item h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.overview-item h3 span {
    opacity: .7;
    color: var(--white);
    font-size: 17px;
}

.overview-item h3 img {
    width: 22px;
    height: 22px;
}

.overview-item:hover {
    transition: all .4s ease-in;
    transform: translateY(5px);
    transform: scale(1.1);
    background-color: #363f58;
}

.overviewitem-numbers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white);
    padding-top: 20px;
}

.overviewitem-numbers h2 {
    font-size: 18px;
    display: flex;
    align-items: center;
}

.overviewitem-numbers h2 img {
    margin-right: 3px;
}

.overview-text {
    color: var(--white);
    font-size: 26px;
    font-weight: 500;
}


.header-bg {
    position: absolute;
    z-index: -5;
    background-color: #25272d;
    width: 100%;
    min-height: 30%;
    transition: all .3s ease;
}